body{
    
    display: flex;
    flex-direction: column;
    align-items: center;   
}



button{
    border-radius: 10px;
    background-color: rgb(43, 109, 109);
    width: 120px;
    height: 60px;
    color: white;
    text-align: center;

}